<h2>
  <%= @book.title %>
  <small><%= @book.isbn %></small>
</h2>

<p>
  <img src="<%= @book.image %>" alt="<%= @book.title %>">
  <%= @book.description %>
</p>

<%= link "Edit", to: book_path(@conn, :edit, @book) %>
<%= link "Back", to: book_path(@conn, :index) %>
