<h2>Show book</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @book.title %>
  </li>

  <li>
    <strong>Isbn:</strong>
    <%= @book.isbn %>
  </li>

  <li>
    <strong>Image:</strong>
    <%= @book.image %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @book.description %>
  </li>

</ul>

<%= link "Edit", to: book_path(@conn, :edit, @book) %>
<%= link "Back", to: book_path(@conn, :index) %>
